<div class="row">

  <div class="col-md-12">
    <h5 style="color:#2e3192;">Update Tags</h5>
    <nb-card>
      <!-- <nb-card-header>Horizontal form</nb-card-header> -->
      <nb-card-body>
        <form class="form-horizontal" style="margin-top:30px;" #f="ngForm" (ngSubmit)="saveTag()">
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">Name</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" fullWidth placeholder="Name" name="tag_name" [(ngModel)]="tags.tag_name" #tag_name="ngModel">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">Tag type</label>
            <div class="col-sm-9">
              <select class="form-control" fullWidth name="tag_type" [(ngModel)]="tags.tag_type" #tag_type="ngModel" (change)="clickType($event.target.value)">
                <option value="">Select type</option>
                <option *ngFor="let tag of tech" value="{{tag.value}}">{{tag.title}}</option>
              </select>
              <!-- <input type="email" class="form-control" fullWidth placeholder="Name" name="tag_type" [(ngModel)]="tags.tag_type" #tag_type="ngModel"> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="label col-sm-3 form-control-label">Comments</label>
            <div class="col-sm-9">
              <textarea type="text" class="form-control" fullWidth placeholder="Comments" name="tag_desc" [(ngModel)]="tags.tag_desc" #tag_desc="ngModel"></textarea>
            </div>
          </div>
          <div class="form-group row text-center">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary w-10" style="margin-right: 10px;">Submit</button>
              <button routerLink="/pages/tags" class="btn btn-danger w-10">Cancel</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
