<div class="row">
  <div class="col-md-12">
    <h5 style="color:#2e3192;">VIEW ENTERPRISE</h5>
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col-md-8">
            <div class="row ">
              <div class="col-12">
                <div class="form-group border-bottom border-primary">
                  <label for="" style="font-weight: bold;">General Info</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Company Name <span style="color: red">*</span></label>
                  <input type="text" class="form-control" fullWidth  placeholder="Infosys" disabled>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Website Name</label>
                  <input type="text" class="form-control" fullWidth placeholder="www.infosys.com" disabled>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">LinkedIn Profile</label>
                  <input type="text" class="form-control" fullWidth  placeholder="https://www.linkedin.com/company/infosys" disabled>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Tax ID</label>
                  <input type="text" class="form-control" fullWidth id="inputLastName" placeholder="123-4569-89" disabled>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-12">
                <div class="form-group border-bottom border-primary">
                  <label for="" style="font-weight: bold; color:black">Company Logo</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-12 text-center">
                  <figure class="figure">
                    <img style="max-width:170px;max-height: 150px;" src="https://res-1.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco/v1415386231/utypaslbyxwfuwhfdzxd.png" class="figure-img img-fluid rounded" alt=""
                    name="company_logo">
                  </figure>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-12 text-center" id="uploadImg">
                    <div class="file btn btn-md text-center" style="background:#f2f2f2;border: 1px grey !important;">
                      <span>Select logo</span>
                      <input type="file" class="upload">
                    </div><br>
                    <span style="font-size: xx-small; color: red;">
                      Logo max size is 500KB
                    </span>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-12">
            <div class="form-group border-bottom border-primary">
              <label for="" style="font-weight: bold;">Contact Info</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputEmail" class="label">Email <span style="color: red">*</span></label>
              <input type="email" class="form-control" fullWidth placeholder="infosysofficial@gmail.com" disabled>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputWebsite" class="label">Phone Number <span style="color: red">*</span></label>
              <input type="text" class="form-control" fullWidth placeholder="0891 257311" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputEmail" class="label">Address Line 1</label>
              <input type="email" class="form-control" fullWidth placeholder="No.44 & 97/A, Infosys Avenue," disabled>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputWebsite" class="label">Address Line 2</label>
              <input type="text" class="form-control" fullWidth placeholder=" Electronic City" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputEmail" class="label">City <span style="color: red">*</span></label>
              <input type="email" class="form-control" fullWidth placeholder="Bangalore" disabled>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputWebsite" class="label">Zipcode</label>
              <input type="text" class="form-control" fullWidth placeholder="560100" disabled>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-12">
            <div class="form-group border-bottom border-primary">
            <label for="" style="font-weight: bold; color:black">Other Information</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputEmail" class="label">Valid From</label>
              <input  type="text" class="form-control"   fullWidth placeholder="25/09/2017" disabled>
                <!-- <nb-rangepicker #rangepicker></nb-rangepicker> -->
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputWebsite" class="label">Valid To</label>
              <input  type="text" class="form-control"   fullWidth placeholder="25/09/2021" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="inputEmail" class="label">Comments</label>
              <textarea rows=4 class="form-control" fullWidth  placeholder="Comments of Infosys Company" disabled></textarea>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
