nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}

// div {
//   position: relative;
//   overflow: hidden;
// }

.upload {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
  left: 0;
}
