<nb-card>
  <nb-card-body>
    <div>
      <div class="row">
        <div class="col-md-6 mx-auto text-center">
          <h1 class="title">Change Password</h1>
          <!-- <span>Enter your email address and we’ll send a link to reset your password</span> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="form-group">
            <label for="exampleInputEmail1" class="label-title">New Password:</label>
            <input type="password" class="form-control"  fullWidth [(ngModel)]="userInfo.new_password" #new_password="ngModel" placeholder="New Password" name="new_password" required>
            <ng-container *ngIf="new_password.invalid && new_password.touched">
              <p class="error-message text-danger" *ngIf="new_password.errors?.required">
                Password is required!
              </p>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="form-group">
            <label for="exampleInputEmail1" class="label-title">Confirm Password:</label>
            <input type="password" class="form-control"  fullWidth placeholder="Confirm Password" [(ngModel)]="userInfo.cnf_password" #cnf_password="ngModel" name="cnf_password" required>
            <ng-container *ngIf="cnf_password.invalid && cnf_password.touched">
              <p class="error-message text-danger" *ngIf="cnf_password.errors?.required">
                Confirm Password is required!
              </p>
            </ng-container>
            <ng-container *ngIf="cnf_password.touched && cnf_password.value != new_password.value">
              <p class="error-message text-danger">
                Confirm Password does not match!
              </p>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 mx-auto">
          <div class="form-group">
            <button class="btn btn-primary btn-block" style="color:white;" (click)="resetPwd()" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
