<div class="row">
  <div class="col-md-12">
    <h5 style="color:#2e3192;">UPDATE ENTERPRISE</h5>
    <nb-card>
      <!-- <nb-card-header>Block form</nb-card-header> -->

      <nb-card-body>
        <!-- <div class="row">
          <span>General Info</span>
        </div> -->
        <div class="row">
          <div class="col-md-8">
            <div class="row ">
              <div class="col-12">
                <div class="form-group border-bottom border-primary">
                  <label for="" style="font-weight: bold;">General Info</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Company Name</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name" disabled>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Website Name</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">LinkedIn Profile</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Tax ID</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-12">
                <div class="form-group border-bottom border-primary">
                  <label for="" style="font-weight: bold; color:black">Company Logo</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-12 text-center">
                  <figure class="figure">
                    <img style="max-width:70px;max-height: 70px;" src="https://thumbs.dreamstime.com/b/company-icon-vector-female-group-persons-symbol-avatar-business-management-team-flat-color-glyph-pictogram-company-icon-123809434.jpg" class="figure-img img-fluid rounded" alt=""
                    name="company_logo">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-center" id="uploadImg">

                    <!-- <button class="btn btn-light " style="border: 1px grey !important;"><span>Select Logo</span>
                      <input type="file" name="company_logo">
                    </button> <br/> -->
                    <div class="file btn btn-md text-center" style="background:#f2f2f2;border: 1px grey !important;">
                      <span>Select logo</span>
                      <input type="file" class="upload">
                    </div><br>
                    <span style="font-size: xx-small; color: red;">
                      Logo max size is 500KB
                    </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <nb-card-header>Block form</nb-card-header> -->
        <div class="row ">
          <div class="col-12">
            <div class="form-group border-bottom border-primary">
              <label for="" style="font-weight: bold;">Contact Info</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputEmail" class="label">Email</label>
              <input type="email" nbInput fullWidth id="inputEmail" placeholder="Email" disabled>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputWebsite" class="label">Phone Number</label>
              <input type="text" nbInput fullWidth id="inputWebsite" placeholder="Website" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputEmail" class="label">Address Line 1</label>
              <input type="email" nbInput fullWidth id="inputEmail" placeholder="Email">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputWebsite" class="label">Address Line 2</label>
              <input type="text" nbInput fullWidth id="inputWebsite" placeholder="Website">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputEmail" class="label">City</label>
              <input type="email" nbInput fullWidth id="inputEmail" placeholder="Email">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputWebsite" class="label">Zipcode</label>
              <input type="text" nbInput fullWidth id="inputWebsite" placeholder="Website">
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-12">
            <div class="form-group border-bottom border-primary">
            <label for="" style="font-weight: bold; color:black">Other Information</label>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputEmail" class="label">Valid From</label>
              <input type="email" nbInput fullWidth id="inputEmail" placeholder="Email">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputWebsite" class="label">Valid TO</label>
              <input type="text" nbInput fullWidth id="inputWebsite" placeholder="Website">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="inputEmail" class="label">Comments</label>
              <textarea rows=4 nbInput fullWidth id="inputEmail" placeholder="message"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <div class="form-group">
              <button type="submit" status="primary" style="margin-right: 10px;" nbButton>UPDATE</button>
              <button type="submit" status="danger" nbButton>CANCEL</button>
            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>
