<div class="row">
  <div class="col-md-12">
    <h5 style="color:#2e3192;">UPDATE ENTERPRISE</h5>
    <nb-card>
      <nb-card-body>
        <form #f="ngForm" (ngSubmit)="Save()">
          <div class="row">
            <div class="col-md-8">
              <div class="row ">
                <div class="col-12">
                  <div class="form-group border-bottom border-primary">
                    <label for="" style="font-weight: bold;">General Info</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputFirstName" class="label">Company Name <span style="color: red">*</span></label>
                    <input type="text" class="form-control" fullWidth name="company_name"  [(ngModel)]="company.company_name" #company_name="ngModel" required>
                    <ng-container *ngIf="company_name.touched ">
                      <p class="error-message text-danger" *ngIf="company_name.errors?.required">
                        Company Name is required!
                      </p>
                    </ng-container>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputLastName" class="label">Website</label>
                    <input type="url" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$" class="form-control" fullWidth name="website_url" [(ngModel)]="company.website_url" #website_url="ngModel">
                    <ng-container *ngIf="website_url.touched ">
                      <p class="error-message text-danger" *ngIf="website_url.errors?.pattern">
                        Allow type http or www!
                      </p>
                    </ng-container>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputFirstName" class="label">LinkedIn Profile</label>
                    <input type="url" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$" class="form-control" fullWidth name="linkedIn_url" [(ngModel)]="company.linkedIn_url" #linkedIn_url="ngModel">
                    <ng-container *ngIf="linkedIn_url.touched ">
                      <p class="error-message text-danger" *ngIf="linkedIn_url.errors?.pattern">
                        Allow type http or www!
                      </p>
                    </ng-container>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputLastName" class="label">Tax ID</label>
                    <input type="text" class="form-control" fullWidth name="tax_id" [(ngModel)]="company.tax_id" >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-12">
                  <div class="form-group border-bottom border-primary">
                    <label for="" style="font-weight: bold; color:black">Company Logo</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-12 text-center">
                    <figure class="figure">
                      <img style="max-width:170px;max-height: 130px;" [src]="company.company_logo" class="figure-img img-fluid rounded" *ngIf="logoImg == false" alt="">
                      <img style="max-width:170px;max-height: 130px;" [src]="logo" class="figure-img img-fluid rounded" *ngIf="logoImg == true" alt="">
                    </figure>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-center" id="uploadImg">
                      <div class="file btn btn-md text-center" style="background:#f2f2f2;border: 1px grey !important;">
                        <span>Select logo</span>
                        <input type="file" class="upload" (change)="onFileChange($event)" accept="image/*">
                      </div><br>
                      <span style="font-size: xx-small; color: red;">
                        Allow type Jpg or png
                      </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-12">
              <div class="form-group border-bottom border-primary">
                <label for="" style="font-weight: bold;">Contact Info</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail" class="label">Email <span style="color: red">*</span></label>
                <input type="email" class="form-control" fullWidth name="email_id" [(ngModel)]="company.email_id" disabled>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputWebsite" class="label">Phone Number <span style="color: red">*</span></label>
                <input type="text" class="form-control" fullWidth name="phone" [(ngModel)]="company.phone" #phone="ngModel" required>
                <ng-container *ngIf="phone.touched ">
                  <p class="error-message text-danger" *ngIf="phone.errors?.required">
                    Phone number is required!
                  </p>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail" class="label">Address Line 1</label>
                <input type="email" class="form-control" fullWidth name="address_line_1" [(ngModel)]="company.address_line_1" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputWebsite" class="label">Address Line 2</label>
                <input type="text" class="form-control" fullWidth name="address_line_2" [(ngModel)]="company.address_line_2" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail" class="label">City <span style="color: red">*</span></label>
                <input type="email" class="form-control" fullWidth name="city" [(ngModel)]="company.city" #city="ngModel" required>
                <ng-container *ngIf="city.touched ">
                  <p class="error-message text-danger" *ngIf="city.errors?.required">
                    City required!
                  </p>
                </ng-container>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputWebsite" class="label">Zipcode</label>
                <input type="text" class="form-control" fullWidth name="zipcode" [(ngModel)]="company.zipcode" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail" class="label">State</label>
                <input type="email" class="form-control" fullWidth name="state" [(ngModel)]="company.state">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail" class="label">Country</label>
                <input type="email" class="form-control" fullWidth name="country" [(ngModel)]="company.country">
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-12">
              <div class="form-group border-bottom border-primary">
              <label for="" style="font-weight: bold; color:black">Other Information</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail" class="label">Valid From <span style="color: red">*</span></label>
                <input  type="text" class="form-control" fullWidth name="valid_from" [(ngModel)]="company.valid_from" #valid_from="ngModel" [minDate]="validFrom" bsDatepicker placement="bottom-left" [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue'}" placeholder="yyyy-mm-dd" required>
                <ng-container *ngIf="valid_from.touched ">
                  <p class="error-message text-danger" *ngIf="valid_from.errors?.required">
                    Date required!
                  </p>
                </ng-container>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputWebsite" class="label">Valid To <span style="color: red">*</span></label>
                <input  type="text" class="form-control" fullWidth name="valid_to" [(ngModel)]="company.valid_to" #valid_to="ngModel" [minDate]="validFrom" bsDatepicker placement="bottom-left" [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue'}" placeholder="yyyy-mm-dd" required>
                <ng-container *ngIf="valid_to.touched ">
                  <p class="error-message text-danger" *ngIf="valid_to.errors?.required">
                    Date required!
                  </p>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputEmail" class="label">Comments</label>
                <textarea rows=4 class="form-control" fullWidth name="comments" [(ngModel)]="company.comments" ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="!f.valid || f.invalid" style="margin-right: 10px;">Submit</button>
                <button class="btn btn-danger" routerLink="/pages/enterprise-info">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
