.label-title {
  color: #8f9bb3;
  font-weight: 700;
  font-family: Open Sans,sans-serif;
  font-size: .75rem;
  line-height: 1rem;
}

.p-md-5 {
  @media (min-width: 768px) {
    padding: 3.5rem !important;
  }
}

.p-sm-5 {
  @media (max-width: 576px) {
    padding: 2.5rem !important;
  }
}
