<div class="container-fluid p-md-5 p-sm-5" style="background-color: #edf1f7;">
<div class="row">
    <div class="card w-100 mt-sm-3">
      <div class="card-body">
        <div style="padding: 20px;">
          <form #f="ngForm" (ngSubmit)="resetPwd()">
            <div class="row">
              <div class="col-md-6 mx-auto text-center">
                <h1 class="title">Change Password</h1>
                <!-- <span>Enter your email address and we’ll send a link to reset your password</span> -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mx-auto">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label-title">New Password:</label>
                  <input type="password" class="form-control"  fullWidth [(ngModel)]="userInfo.newPassword" #newPassword="ngModel" placeholder="New Password" name="newPassword" required>
                  <ng-container *ngIf="newPassword.invalid && newPassword.touched">
                    <p class="error-message text-danger" *ngIf="newPassword.errors?.required">
                      Password is required!
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mx-auto">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label-title">Confirm Password:</label>
                  <input type="password" class="form-control"  fullWidth placeholder="Confirm Password" [(ngModel)]="userInfo.confirmPassword" #confirmPassword="ngModel" name="confirmPassword" required>
                  <ng-container *ngIf="confirmPassword.invalid && confirmPassword.touched">
                    <p class="error-message text-danger" *ngIf="confirmPassword.errors?.required">
                      Confirm Password is required!
                    </p>
                  </ng-container>
                  <ng-container *ngIf="confirmPassword.touched && confirmPassword.value != newPassword.value">
                    <p class="error-message text-danger">
                      Confirm Password does not match!
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 mx-auto">
                <div class="form-group">
                  <button class="btn btn-primary btn-block" style="color:white;" [disabled]="!f.valid || f.pristine || f.invalid" type="submit">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
