<div class="row">

  <div class="col-md-12">
    <h5 style="color:#2e3192;">PROFILE</h5>
    <!---Profile of Super Admin-->
    <nb-card *ngIf="Role_id == '1'">
      <nb-card-body>
        <form #form="ngForm" class="form-horizontal" style="margin-top:30px;">
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">Company Name <span style="color: red;">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth name="company_name"  [(ngModel)]="profile.company_name" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">Email <span style="color: red;">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth name="email_id" [(ngModel)]="profile.email_id" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="label col-sm-3 form-control-label">First Name <span style="color: red;">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth name="first_name" [(ngModel)]="profile.first_name" #first_name="ngModel" required>
              <ng-container *ngIf="first_name.touched ">
                <p class="error-message text-danger" *ngIf="first_name.errors?.required">
                  First Name is required!
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="label col-sm-3 form-control-label">Last Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth name="last_name" [(ngModel)]="profile.last_name">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">Phone Number <span style="color: red;">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth name="phone" [(ngModel)]="profile.phone" #phone="ngModel" required>
              <ng-container *ngIf="phone.touched ">
                <p class="error-message text-danger" *ngIf="phone.errors?.required">
                  Phone number is required!
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group row text-center">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary w-10" [disabled]="!form.valid || form.invalid" (click)="updateRecruiter()" style="margin-right: 10px;">SUBMIT</button>
              <button routerLink="/pages/dashboard" class="btn btn-danger w-10">CANCEL</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>

    <!--Profile of Admin-->
    <nb-card *ngIf="Role_id == '2'">
      <nb-card-body>
        <form #a="ngForm" class="form-horizontal" style="margin-top:30px;">
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">Company Name <span style="color: red;">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth name="company_name" [(ngModel)]="profile.company_name" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">Email <span style="color: red;">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth name="email_id" [(ngModel)]="profile.email_id" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="label col-sm-3 form-control-label">First Name <span style="color: red;">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth name="first_name" [(ngModel)]="profile.first_name" #first_name="ngModel" required>
              <ng-container *ngIf="first_name.touched ">
                <p class="error-message text-danger" *ngIf="first_name.errors?.required">
                  First Name is required!
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="label col-sm-3 form-control-label">Last Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth name="last_name" [(ngModel)]="profile.last_name">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">Phone Number <span style="color: red;">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth name="phone" [(ngModel)]="profile.phone" #phone="ngModel" required>
              <ng-container *ngIf="phone.touched ">
                <p class="error-message text-danger" *ngIf="phone.errors?.required">
                  Phone number is required!
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">Expiry date <span style="color: red;">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth name="expiry_date" [(ngModel)]="profile.expiry_date" disabled>
            </div>
          </div>
          <div class="form-group row text-center">
            <div class="col-sm-12">
              <button type="submit" [disabled]="!a.valid || a.invalid" class="btn btn-primary w-10" (click)="updateRecruiter()" style="margin-right: 10px;">SUBMIT</button>
              <button routerLink="/pages/dashboard" class="btn btn-danger w-10">CANCEL</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>

    <!--Profile of Recruiter-->
    <nb-card *ngIf="Role_id == '3'">
      <nb-card-body>
        <form class="form-horizontal" style="margin-top:30px;" #f="ngForm">
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">Company Name <span style="color: red;">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth [(ngModel)]="profile.company_name" name="company_name" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">Email <span style="color: red;">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth [(ngModel)]="profile.email_id" name="email_id" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="label col-sm-3 form-control-label">First Name <span style="color: red;">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth [(ngModel)]="profile.first_name" name="first_name" #first_name="ngModel" required>
              <ng-container *ngIf="first_name.touched ">
                <p class="error-message text-danger" *ngIf="first_name.errors?.required">
                  First Name is required!
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="label col-sm-3 form-control-label">Last Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth [(ngModel)]="profile.last_name" name="last_name">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">Phone Number <span style="color: red;">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth [(ngModel)]="profile.phone" name="phone" #phone="ngModel" required>
              <ng-container *ngIf="phone.touched ">
                <p class="error-message text-danger" *ngIf="phone.errors?.required">
                  Phone number is required!
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">Expiry date <span style="color: red;">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth [(ngModel)]="profile.expiry_date" name="expiry_date" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">Primary Email Address</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth [(ngModel)]="profile.primary_email_id" name="primary_email_id" #primary_email_id="ngModel" email>
              <ng-container *ngIf="primary_email_id.touched">
                <p class="error-message text-danger" *ngIf="primary_email_id.errors?.email">
                  Email should be the real one!
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">Generic Email Address</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth [(ngModel)]="profile.generic_email_id" name="generic_email_id" #generic_email_id="ngModel" email>
              <ng-container *ngIf="generic_email_id.touched">
                <p class="error-message text-danger" *ngIf="generic_email_id.errors?.email">
                  Email should be the real one!
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">Personal Email Address</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth [(ngModel)]="profile.personal_email_id" name="personal_email_id" #personal_email_id="ngModel" email>
              <ng-container *ngIf="personal_email_id.touched">
                <p class="error-message text-danger" *ngIf="personal_email_id.errors?.email">
                  Email should be the real one!
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">CC Email Address</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth [(ngModel)]="profile.cc_email_id" name="cc_email_id" #cc_email_id="ngModel" email>
              <ng-container *ngIf="cc_email_id.touched">
                <p class="error-message text-danger" *ngIf="cc_email_id.errors?.email">
                  Email should be the real one!
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">BCC Email Address</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" fullWidth [(ngModel)]="profile.bcc_email_id" name="bcc_email_id" #bcc_email_id="ngModel" email>
              <ng-container *ngIf="bcc_email_id.touched">
                <p class="error-message text-danger" *ngIf="bcc_email_id.errors?.email">
                  Email should be the real one!
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group row text-center">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary w-10" (click)="updateRecruiter()" [disabled]="!f.valid || f.invalid" style="margin-right: 10px;">SUBMIT</button>
              <button routerLink="/pages/dashboard" class="btn btn-danger w-10">CANCEL</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
