<div class="row">

  <div class="card w-100 h-100">
    <div class="card-body">
      <div class="col-md-12">
        <!-- <h5 style="color:#2e3192;">PROFILE</h5> -->
        <!---Profile of Super Admin-->
        <!-- <nb-card>
           <nb-card-body> -->
              <div class="col-md-12" style="margin-top: 10px;margin-bottom: 30px;">
                <h5 class="text-center">Terms & Conditions</h5>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6 class="text-left">Terms of Service</h6>
                  <div class="col-md-12">
                    <p>
                      <li>This Terms of Service has been updated as of April 26th 2021 and will be effective as of April 26th 2021.</li>
                      <li>By using Recruitment bot.com website and all services of Blue Space Technology, you are agreeing to be bound by the following terms and conditions (“Terms of Service”).</li>
                      <li>Recruitment Bot reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes.</li>
                      <li>Violation of any of the terms below will result in the termination of your account. You agree to use the Service at your own risk.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                    <h6>Use of the Service and Site</h6>
                    <div class="col-md-12">
                      <p>
                        <li>Recruitment Bot provides conversational bots as a service (“Service”).</li>
                        <li>Subject to your compliance with the Terms of Service and solely during the subscription term of your account, you have the limited right to access and use the Service in accordance with the service plan(s) that you subscribe to for your internal business purposes. Without limiting the foregoing, your right to access and use the Site is also subject to the restrictions and policies implemented by Recruitment Bot from time to time. You must be 18 years or older to use the Service.</li>
                      </p>
                    </div>
                </div>
                <div class="col-md-12">
                  <h6>Account</h6>
                  <div class="col-md-12">
                    <p>
                      <li>You must be a human. Accounts registered by “bots” or other automated methods are not permitted.</li>
                      <li>You must provide your valid email address and any other information requested in order to complete the signup process.</li>
                      <li>You are responsible for maintaining the security of your account and password. Recruitment Bot cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</li>
                      <li>One person or legal entity may not maintain more than one free account.</li>
                      <li>You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>Consent</h6>
                  <div class="col-md-12">
                    <p>
                      <li>Signing up with Recruitment bot gives us permission to send you emails including but not limited to marketing, promotional, communications related to Recruitment bot.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>Payment, Upgrading, and Downgrading</h6>
                  <div class="col-md-12">
                    <p>
                      <li>A valid credit card, debit card or bank account is required for paying accounts. Free accounts are not required to provide a credit card number.</li>
                      <li>An upgrade from a free trial to any paid plan will end your free trial.</li>
                      <li>The Service is billed in advance on a monthly and yearly basis. If user chooses to subscribe for an annual pricing plan, he/she can subscribe by paying complete 12 months fees in advance.</li>
                      <li>Even though, we charge user only once a year; any overage charges will be charged at the end of the subsequent month.</li>
                      <li>All the monthly limits related to orders will be reset at the end of every month.</li>
                      <li>If user upgrades to a higher plan during the middle of the year; user will be charged the price difference of two plans for the remainder of the year.</li>
                      <li>The user cannot switch to a monthly plan in the middle of an annual billing cycle.</li>
                      <li>The user cannot downgrade to a lower plan in the middle of an annual billing cycle.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>Modifications to the Service and Prices</h6>
                  <div class="col-md-12">
                    <p>
                      <li>Recruitment Bot reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice.</li>
                      <li>Pricing plans of the Service, including but not limited to monthly and annual subscription plan fees to the Service, are subject to change upon 30 days notice from us. Such notice may be provided at any time by posting the changes to the Site or the Service itself.</li>
                      <li>Recruitment Bot shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>Intellectual Property Rights</h6>
                  <div class="col-md-12">
                    <p>
                      <li>Each of us shall maintain all rights, title and interest in and to all our respective patents, inventions, copyrights, trademarks, domain names, trade secrets, know-how and any other intellectual property and/or proprietary rights (collectively, Intellectual Property Rights). Subject only to limited rights to access and use the Service and Site as expressly stated herein, all rights, title and interest in and to the Service, the Site and all hardware, software and other components of or used to provide the Service and Site, including all related Intellectual Property Rights, will remain with and belong exclusively to Recruitment Bot.</li>
                      <li>You are prohibited from using any of the marks or logos appearing throughout the Site without permission from the trademark owner, except as permitted by applicable law.</li>
                      <li>Recruitment Bot claims no intellectual property rights over the material you provide to the Service.</li>
                      <li>The look and feel of the Service is copyright © 2021 Blue Space Technology. All rights reserved. You may not duplicate, copy, or reuse any portion of the HTML/CSS or visual design elements without express written permission from Recruitment Bot. You may use the Site, and the information, writings, images and/or other works that you see, hear or otherwise experience on the Site (the “Content”) to learn about Recruitment Bot' products and services. No right, title or interest in any Content is transferred to you, whether as a result of downloading such Content or otherwise. Recruitment Bot reserves complete title and full Intellectual Property Rights in all Content. Except as expressly authorized by this Agreement, you may not use, alter, copy, distribute, transmit, or derive another work from any Content obtained from the Site.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>Limitation of Liability and Risk</h6>
                  <div class="col-md-12">
                    <p>
                      <li>The exclusions and limitations on our liability for the performance of the Services and under these Terms of Use do not apply in the case of: (i) the tort of deceit or fraud; (ii) death or personal injury caused by negligence; (iii) any liability to the extent that the same may not be excluded or limited as a matter of applicable law.</li>
                      <li>You are prohibited from using any of the marks or logos appearing throughout the Site without permission from the trademark owner, except as permitted by applicable law.</li>
                      <li>We will not be liable, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, under or in connection with these Terms of Service for any indirect, consequential or special loss or damage even if such party has been advised of the possibility of such loss or damage, or for any loss of profits, loss of sales, loss of business or agreements, loss of goodwill, loss of or wasted management of staff time, loss of use or corruption of software, loss or corruption of data or loss of anticipated savings.</li>
                      <li>Our total maximum liability to you for all claims, actions, proceedings, losses, liabilities or costs (including legal expenses) sustained, incurred or suffered by you arising under or in connection with these Terms of Service, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, shall be limited for all such claims in aggregate to an amount equal to one hundred per cent (100%) of the total fees paid by you to us under these Terms of Service in the successive twelve (12) month period prior to the most recent claim.</li>
                      <li>Recruitment Bot will be up 99% of the time. In case of any issues, Fixes will be done in 48 working hours.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>General Conditions</h6>
                  <div class="col-md-12">
                    <p>
                      <li>Your use of the Service is at your sole risk. The service is provided on an “as is” and “as available” basis.</li>
                      <li>You understand that Recruitment Bot uses various third party software services, other vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</li>
                      <li>You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, Recruitment Bot, or any other Recruitment Bot service.</li>
                      <li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by Recruitment Bot.</li>
                      <li>We may, but have no obligation to, remove Content and accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party’s intellectual property or these Terms of Service.</li>
                      <li>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any Recruitment Bot customer, employee, member, or officer will result in immediate account termination.</li>
                      <li>You understand that the technical processing and transmission of the Service, including your Content, may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.</li>
                      <li>You must not transmit any worms or viruses or any code of a destructive nature.</li>
                      <li>The failure of Recruitment Bot to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and Recruitment Bot and govern your use of the Service, superseding any prior agreements between you and Recruitment Bot (including, but not limited to, any prior versions of the Terms of Service).</li>
                      <li>With multi-connector platform in place, Recruitment Bot saves your data which goes through its platform to provide you fast and better service. By agreeing to Terms of Service, you are agreeing that you don’t have any issue with Recruitment Bot saving your data. We ensure the safety and security of your data.</li>
                      <li>Questions about the Terms of Service should be sent to <a href="info@bluespacetech.com">info@bluespacetech.com</a> </li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>Linking to this Site</h6>
                  <div class="col-md-12">
                    <p>
                      <li>Unless specifically authorized by Recruitment Bot, you may not connect “deep links” to the Site, i.e, create links to this Site that bypass the home page or other parts of the Site. You may not mirror or frame the home page or any other pages of this Site on any other website or web page.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>Downloading Files</h6>
                  <div class="col-md-12">
                    <p>
                      <li>Recruitment Bot cannot and does not guarantee or warrant that files available for downloading through the Site will be free of infection by software viruses or other harmful computer code, files or programs.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>Software</h6>
                  <div class="col-md-12">
                    <p>
                      <li>Any software available for download via the Site is the copyrighted work of Recruitment Bot and/or its licensors. Use of such software is governed by the terms of the end user license agreement that accompanies or is included with the software. Downloading, installing, and/or using any such software indicates your acceptance of the terms of the end user license agreement.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>Disclaimer of Warranties</h6>
                  <div class="col-md-12">
                    <p>
                      <li>RECRUITMENT BOT MAKES NO EXPRESS OR IMPLIED WARRANTIES, REPRESENTATIONS OR ENDORSEMENTS WHATSOEVER WITH RESPECT TO THE SITE, ITS SERVICES OFFERED ON THE SITE OR THE CONTENT. RECRUITMENT BOT EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT, WITH REGARD TO THE SITE, THE SERVICE, THE CONTENT, AND ANY PRODUCT OR SERVICE FURNISHED OR TO BE FURNISHED VIA THE SITE. RECRUITMENT BOT DOES NOT WARRANT THAT THE FUNCTIONS PERFORMED BY THE SITE OR THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE, OR THAT DEFECTS IN THE SITE OR THE SERVICE WILL BE CORRECTED. RECRUITMENT BOT DOES NOT WARRANT THE ACCURACY OR COMPLETENESS OF THE CONTENT, OR THAT ANY ERRORS IN THE CONTENT WILL BE CORRECTED. THE SITE, THE SERVICE AND THE CONTENT ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>Limitation of Liability</h6>
                  <div class="col-md-12">
                    <p>
                      <li>IN NO EVENT WILL RECRUITMENT BOT BE LIABLE FOR ANY DAMAGES WHATSOEVER, INCLUDING, BUT NOT LIMITED TO ANY DIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY OR OTHER INDIRECT DAMAGES ARISING OUT OF (I) THE USE OF OR INABILITY TO USE THE SITE, THE SERVICE, OR THE CONTENT, (II) ANY TRANSACTION CONDUCTED THROUGH OR FACILITATED BY THE SITE; (III) ANY CLAIM ATTRIBUTABLE TO ERRORS, OMISSIONS, OR OTHER INACCURACIES IN THE SITE, THE SERVICE AND/OR THE CONTENT, (IV) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA, OR (V) ANY OTHER MATTER RELATING TO THE SITE, THE SERVICE, OR THE CONTENT, EVEN IF SMATBOT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IF YOU ARE DISSATISFIED WITH THE SITE, THE SERVICE, THE CONTENT, OR WITH THE TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE.</li>
                      <li>BECAUSE SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU. IN SUCH STATES, SMATBOT’ LIABILITY IS LIMITED AND WARRANTIES ARE EXCLUDED TO THE GREATEST EXTENT PERMITTED BY LAW, BUT SHALL, IN NO EVENT, EXCEED $100.00.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>Indemnification </h6>
                  <div class="col-md-12">
                    <p>
                      <li>You understand and agree that you are personally responsible for your behavior on the Site. You agree to indemnify, defend and hold harmless Recruitment Bot, its employees, agents, and any third-party information providers to the Service from and against all claims, losses, expenses, damages and costs (including, but not limited to, direct, incidental, consequential, exemplary and indirect damages), and reasonable attorneys’ fees, resulting from or arising out of your use, misuse, or inability to use the Site, the services offered on the Site, the Content, or any violation by you of this Agreement.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>User Conduct</h6>
                  <div class="col-md-12">
                    <p>
                      <li>You agree to use the Site only for lawful purposes. You agree not to take any action that might compromise the security of the Site, render the Site inaccessible to others or otherwise cause damage to the Site or the Content. You agree not to add to, subtract from, or otherwise modify the Content, or to attempt to access any Content that is not intended for you. You agree not to use the Site in any manner that might interfere with the rights of third parties.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>User Supplied Information</h6>
                  <div class="col-md-12">
                    <p>
                      <li>For all user supplied information, you guarantee to us that you have the legal right to post the Submission and that it will not violate any law or the rights of any person or entity. Confidential and proprietary information will be maintained in accordance with our privacy policy.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>Password Security</h6>
                  <div class="col-md-12">
                    <p>
                      <li>If you register on this Site, you are responsible for maintaining the confidentiality of your identification and password information, and for restricting access to your computer. You agree to accept responsibility for all activities that occur under your member identification and password.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>Violation of The Terms</h6>
                  <div class="col-md-12">
                    <p>
                      <li>You understand and agree that in Recruitment Bot’ sole discretion, and without prior notice, Recruitment Bot may terminate your access to the Site, cancel your order or exercise any other remedy available if Recruitment Bot believes that your use is inconsistent with these Terms of Use or has violated the rights of Recruitment Bot, another user or the law. You agree that monetary damages may not provide a sufficient remedy to Recruitment Bot for violations of these terms and conditions and you consent to injunctive or other equitable relief for such violations. Recruitment Bot may release user information about you if required by law or subpoena, or if the information is necessary or appropriate to release to address an unlawful or harmful activity.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>Refund Policy</h6>
                  <div class="col-md-12">
                    <p>
                      <li>You can cancel accounts three business days before your next billing date to avoid unwanted charges. Recruitment Bot users on annual billing should note that your plan is a one-year commitment. While downgrade requests can be submitted, they will not take effect until the 12-month term is complete. Cancellation will take effect immediately and accounts are not recoverable.</li>
                      <li>We don’t provide any refunds for fees related to Recruitment Bot accounts. These are billed in advance on a monthly or yearly basis (depending on your selected billing preference).</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>Assignment and Change in Control</h6>
                  <div class="col-md-12">
                    <p>
                      <li>You may not, directly or indirectly, by operation of law or otherwise, assign all or any part of these terms or your rights under these terms or delegate performance of your duties under these terms without Recruitment Bot’ prior consent. We may, without your consent, assign our agreement with you in connection with any merger or change of control of Recruitment Bot or the sale of all or substantially all of our assets provided that any such successor agrees to fulfill its obligations pursuant to these terms. Subject to the foregoing restrictions, these terms will be fully binding upon, inure to the benefit of and be enforceable by the parties and their respective successors and assigns.</li>
                    </p>
                  </div>
                </div>
              </div>
           <!-- </nb-card-body>
        </nb-card> -->
      </div>
    </div>
  </div>
</div>
