<div class="row">
  <div class="col-12">
    <h5 style="color:#2e3192;">MANAGE ENTERPRISE</h5>
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12 text-right">
            <label class="search-label" for="search">Search:&nbsp;&nbsp;</label>
            <input [(ngModel)]="searchTerm" class="search-input" (input)="Search()">
          </div>
         </div><br>
        <div class="row">
          <table class="table" style="background-color: white;width: 100%;">
            <thead>
              <tr>
                <th>SNO</th>
                <th>Company Name</th>
                <th>Website Name</th>
                <th>Phone Number</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data | paginate: { itemsPerPage: 10, currentPage: Page }; let i = index">
                <td>{{i+1}}</td>
                <td>{{item.company_name}}</td>
                <td>{{item.website_url}}</td>
                <td>{{item.phone}}</td>
                <td>
                  <a routerLink="/pages/view-enterprise/{{item.correl_id}}"><i class="fa fa-eye" aria-hidden="true" style="margin-right: 5px; color: #212529"></i></a>
                  <!-- <i class="fa fa-pencil" aria-hidden="true" style="margin-right:5px;font-size:18px; color: #212529"></i> -->
                  <a (click)="openDelete(item)"><i class="fa fa-trash" aria-hidden="true"  style="font-size:18px;color: #212529"></i></a>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-12 mt-2 text-right">
            <pagination-controls (pageChange)="Page=$event"></pagination-controls>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
