<div class="row">
  <div class="col-md-12">
    <h5 style="color:#2e3192;">CREATE USER</h5>
    <nb-card>
      <nb-card-body>
        <div class="form-group" *ngIf="Role_id == 1">
          <label  class="label">Select Company <span style="color: red;">*</span></label>
          <select class="form-control" name="" id="" (change)="onchange($event.target.value)">
            <option value=''>Select Company</option>
            <option *ngFor="let company of companies" value="{{ company.value }}">{{ company.company }}</option>
          </select>
        </div>
        <div class="form-group" *ngIf="superadmin == true">
          <label  class="label">Role <span style="color: red;">*</span></label>
          <select class="form-control" name="" id="" (change)="clickSelect($event.target.value)">
            <option value=''>Select Role</option>
            <option *ngFor="let role of roles" value="{{role.value}}">{{role.role}}</option>
          </select>
        </div>
        <div class="form-group" *ngIf="Role_id == 2">
          <label  class="label">Role <span style="color: red;">*</span></label>
          <select class="form-control" name="" id="" (change)="clickSelect($event.target.value)">
            <option value=''>Select Role</option>
            <option *ngFor="let role1 of roles1" value="{{ role1.value }}">{{ role1.role }}</option>
          </select>
        </div>
        <div *ngIf="selectedrole == '1'">
          <form #form="ngForm" (ngSubmit)="submitForm()">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group border-bottom border-primary">
                  <label for="" style="font-weight: bold;">General Info</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">First name <span style="color: red;">*</span></label>
                  <input type="text" class="form-control" fullWidth id="first-name" name="first_name" [(ngModel)]="formData.first_name" #first_name="ngModel" placeholder="" required>
                  <ng-container *ngIf="first_name.touched ">
                    <p class="error-message text-danger" *ngIf="first_name.errors?.required">
                      First Name is required!
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Last name</label>
                  <input type="text" class="form-control" fullWidth id="last-name" name="last_name" [(ngModel)]="formData.last_name" #last_name="ngModel" placeholder="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Email <span style="color: red;">*</span></label>
                  <input type="email" class="form-control" fullWidth id="email" name="email_id" [(ngModel)]="formData.email_id" #email_id="ngModel" placeholder="" email required>
                  <ng-container *ngIf="email_id.invalid && email_id.touched">
                    <p class="error-message text-danger" *ngIf="email_id.errors?.required">
                      Email is required!
                    </p>
                    <p class="error-message text-danger" *ngIf="email_id.errors?.email">
                      Email should be the real one!
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Phone Number <span style="color: red;">*</span></label>
                  <input type="number" class="form-control" fullWidth id="phone" name="phone" [(ngModel)]="formData.phone" #phone="ngModel" placeholder="" required>
                  <ng-container *ngIf="phone.touched ">
                    <p class="error-message text-danger" *ngIf="phone.errors?.required">
                      Phone number is required!
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label  class="label">Comments</label>
                  <textarea rows=4 class="form-control" fullWidth id="inputEmail" placeholder="Enter Comments" name="comments" [(ngModel)]="formData.comments" #comments="ngModel"></textarea>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary" style="margin-right: 5px;" [disabled]="!form.valid || form.pristine || form.invalid">SUBMIT</button>
                <button class="btn btn-danger">CANCEL</button>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="selectedrole == '2'">
          <form #admin="ngForm" (ngSubmit)="adminForm()">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group border-bottom border-primary">
                  <label for="" style="font-weight: bold;">General Info</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">First name <span style="color: red;">*</span></label>
                  <input type="text" class="form-control" fullWidth id="first-name-2" placeholder="" name="first_name" [(ngModel)]="formData.first_name" #first_name="ngModel" required>
                  <ng-container *ngIf="first_name.touched ">
                    <p class="error-message text-danger" *ngIf="first_name.errors?.required">
                      First Name is required!
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Last name</label>
                  <input type="text" class="form-control" fullWidth id="last-name-2" placeholder="" name="last_name" [(ngModel)]="formData.last_name" #last_name="ngModel">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Company name <span style="color: red;">*</span></label>
                  <input type="text" class="form-control" fullWidth id="company" placeholder="" name="company_name" [(ngModel)]="companyname" #company_name="ngModel">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Expiry Date</label>
                  <input type="text" class="form-control" fullWidth id="expiry-date-1" placeholder="" name="expiry_date" [(ngModel)]="formData.expiry_date" #expiry_date="ngModel" bsDatepicker placement="bottom-left" [bsValue]="formData.expiry_date" [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue'}">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group border-bottom border-primary">
                  <label for="" style="font-weight: bold;">Contact Info</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Email <span style="color: red;">*</span></label>
                  <input type="email" class="form-control" fullWidth id="email-2" placeholder="" name="email_id" [(ngModel)]="formData.email_id" #email_id="ngModel" email required>
                  <ng-container *ngIf="email_id.invalid && email_id.touched">
                    <p class="error-message text-danger" *ngIf="email_id.errors?.required">
                      Email is required!
                    </p>
                    <p class="error-message text-danger" *ngIf="email_id.errors?.email">
                      Email should be the real one!
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Phone Number <span style="color: red;">*</span></label>
                  <input type="number" class="form-control" fullWidth id="phone-2" placeholder="" name="phone" [(ngModel)]="formData.phone" #phone="ngModel" required>
                  <ng-container *ngIf="phone.touched ">
                    <p class="error-message text-danger" *ngIf="phone.errors?.required">
                      Phone number is required!
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label  class="label">Comments</label>
                  <textarea rows=4 class="form-control" fullWidth id="inputEmail" placeholder="Enter Comments" name="comments" [(ngModel)]="formData.comments" #comments="ngModel"></textarea>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary" style="margin-right: 5px;" [disabled]="!admin.valid || admin.pristine || admin.invalid">SUBMIT</button>
                <button class="btn btn-danger">CANCEL</button>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="selectedrole == '3'">
          <form #rec="ngForm" (ngSubmit)="recruiterForm()">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group border-bottom border-primary">
                  <label for="" style="font-weight: bold;">General Info</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">First name <span style="color: red;">*</span></label>
                  <input type="text" class="form-control" fullWidth placeholder="" name="first_name" [(ngModel)]="formData.first_name" #first_name="ngModel" required>
                  <ng-container *ngIf="first_name.touched ">
                    <p class="error-message text-danger" *ngIf="first_name.errors?.required">
                      First Name is required!
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Last name</label>
                  <input type="text" class="form-control" fullWidth placeholder="" name="last_name" [(ngModel)]="formData.last_name" #last_name="ngModel" required>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group border-bottom border-primary">
                  <label for="" style="font-weight: bold;">Contact Info</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Email <span style="color: red;">*</span></label>
                  <input type="email" class="form-control" fullWidth id="email" placeholder="" name="email_id" [(ngModel)]="formData.email_id" #email_id="ngModel" email required>
                  <ng-container *ngIf="email_id.invalid && email_id.touched">
                    <p class="error-message text-danger" *ngIf="email_id.errors?.required">
                      Email is required!
                    </p>
                    <p class="error-message text-danger" *ngIf="email_id.errors?.email">
                      Email should be the real one!
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Phone Number <span style="color: red;">*</span></label>
                  <input type="number" class="form-control" fullWidth id="phone" placeholder="" name="phone" [(ngModel)]="formData.phone" #phone="ngModel" required>
                  <ng-container *ngIf="phone.touched ">
                    <p class="error-message text-danger" *ngIf="phone.errors?.required">
                      Phone number is required!
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Primary Email Address</label>
                  <input type="email" class="form-control" fullWidth id="pemail"  name="primary_email_id" [(ngModel)]="formData.primary_email_id" #primary_email_id="ngModel">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Generic Email Address</label>
                  <input type="email" class="form-control" fullWidth id="gemail" name="generic_email_id" [(ngModel)]="formData.generic_email_id" #generic_email_id="ngModel">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Personal Email Address</label>
                  <input type="email" class="form-control" fullWidth id="personal-email" name="personal_email_id" [(ngModel)]="formData.personal_email_id" #personal_email_id="ngModel">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">CC Email Address</label>
                  <input type="email" class="form-control" fullWidth id="cc-email" name="cc_email_id" [(ngModel)]="formData.cc_email_id" #cc_email_id="ngModel">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">BCC Email Address</label>
                  <input type="email" class="form-control" fullWidth id="bcc-email" name="bcc_email_id" [(ngModel)]="formData.bcc_email_id" #bcc_email_id="ngModel">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group border-bottom border-primary">
                  <label for="" style="font-weight: bold;">Other Information</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Expiry Date</label>
                  <input type="text" class="form-control" fullWidth id="expiry-date" name="expiry_date" [(ngModel)]="formData.expiry_date" #expiry_date="ngModel" bsDatepicker placement="bottom-left" [bsValue]="formData.expiry_date" [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue'}">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label  class="label">Comments</label>
                  <textarea rows=4 class="form-control" fullWidth id="inputEmail" placeholder="Enter Comments" name="comments" [(ngModel)]="formData.comments" #comments="ngModel"></textarea>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary" style="margin-right: 5px;">SUBMIT</button>
                <button type="submit" class="btn btn-danger">CANCEL</button>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="selectedrole == '4'">
          <form #f="ngForm" (ngSubmit)="saveCon()">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group border-bottom border-primary">
                  <label for="" style="font-weight: bold;">General Info</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label  class="label">First name <span style="color: red;">*</span></label>
                  <input type="text"  class="form-control" fullWidth name="first_name" [(ngModel)]="conData.first_name" #first_name="ngModel" placeholder="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label  class="label">Last name</label>
                  <input type="text" class="form-control" fullWidth name="last_name" [(ngModel)]="conData.last_name" #last_name="ngModel" placeholder="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label  class="label">Date of Birth</label>
                  <input type="text"  class="form-control" fullWidth name="dob" [(ngModel)]="conData.dob" #dob="ngModel" bsDatepicker placement="bottom" [bsValue]="conData.dob" [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue'}">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label  class="label">Education</label>
                  <input type="text" class="form-control" fullWidth placeholder="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label  class="label">Rate <span style="color: darkgreen;">$/hour</span></label>
                  <input type="text" class="form-control" fullWidth name="rate" [(ngModel)]="conData.rate" #rate="ngModel" placeholder="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label  class="label">Expiry Date</label>
                  <input type="text" class="form-control" fullWidth name="expiry_date" [(ngModel)]="conData.expiry_date" #expiry_date="ngModel" bsDatepicker placement="top" [bsValue]="conData.expiry_date" [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue'}">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group border-bottom border-primary">
                  <label for="" style="font-weight: bold;">Contact Info</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label  class="label">Email <span style="color: red;">*</span></label>
                  <input type="email" class="form-control" fullWidth name="email_id" [(ngModel)]="conData.email_id" #email_id="ngModel" placeholder="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label  class="label">Phone Number <span style="color: red;">*</span></label>
                  <input type="number" class="form-control" fullWidth name="phone" [(ngModel)]="conData.phone" #phone="ngModel" placeholder="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label  class="label">Relocation</label>
                  <select  selected="1"  fullWidth class="form-control" name="relocation" [(ngModel)]="conData.relocation" #relocation="ngModel">
                    <option value="1">Select</option>
                    <option value="2">Yes</option>
                    <option value="3">No</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Address Line 1</label>
                  <input type="text" class="form-control" fullWidth name="addressline1" [(ngModel)]="conData.addressline1" #addressline1="ngModel">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Address Line 2</label>
                  <input type="text" class="form-control" fullWidth name="addressline2" [(ngModel)]="conData.addressline2" #addressline2="ngModel">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Zip Code</label>
                  <input type="text" class="form-control" fullWidth name="zipcode" [(ngModel)]="conData.zipcode" #zipcode="ngModel">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">City</label>
                  <input type="text" class="form-control" fullWidth name="city" [(ngModel)]="conData.city" #city="ngModel">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group border-bottom border-primary">
                  <label for="" style="font-weight: bold;">Technology</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label  class="label">Total Experience</label>
                  <input type="text" class="form-control" fullWidth name="total_exp" [(ngModel)]="conData.total_exp" #total_exp="ngModel">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label  class="label">USA Experience</label>
                  <input type="text" class="form-control" fullWidth name="usa_exp" [(ngModel)]="conData.usa_exp" #usa_exp="ngModel">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label  class="label">Marketing Phone Number</label>
                  <input type="text" class="form-control" fullWidth name="marketing_phone" [(ngModel)]="conData.marketing_phone" #marketing_phone="ngModel">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label  class="label">Marketing Email ID</label>
                  <input type="email" class="form-control" fullWidth name="marketing_email" [(ngModel)]="conData.marketing_email" #marketing_email="ngModel">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label class="label">Looking for Job</label>
                  <input type="text" class="form-control" fullWidth name="looking_for_job" [(ngModel)]="conData.looking_for_job" #looking_for_job="ngModel">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label class="label">Subject Tag</label>
                  <input type="text" class="form-control" fullWidth name="subject_tag" [(ngModel)]="conData.subject_tag" #subject_tag="ngModel">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label class="label">Non-Subject Tag</label>
                  <input type="text" class="form-control" fullWidth name="non_sub_tag" [(ngModel)]="conData.non_sub_tag" #non_sub_tag="ngModel">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Marketing Linkedin Profile</label>
                  <input type="text" class="form-control" fullWidth name="linkedin_profile" [(ngModel)]="conData.linkedin_profile" #linkedin_profile="ngModel">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Tags</label>
                  <ng-select [multiple]="true" [(ngModel)]="selectedCars">
                    <ng-option *ngFor="let car of cars" [value]="car.id" [disabled]="car.disabled">{{car.name}}</ng-option>
                    <ng-option [value]="'custom'">Custom</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Resume</label>
                  <input type="file"  class="form-control" fullWidth name="resume" [(ngModel)]="conData.resume" #resume="ngModel">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Certification</label>
                  <input type="file"  class="form-control" fullWidth name="certification" [(ngModel)]="conData.certification" #certification="ngModel">
                </div>
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary" (click)="addForm()">Add Technology</button>
              </div>
            </div>
            <div class="row mt-3" *ngFor="let obj of dataarray; let i=index ">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-11">
                    <div class="form-group border-bottom border-primary">
                      <label for="" style="font-weight: bold;">Technology</label>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <button type="submit" class="btn btn-danger" (click)="removeForm(i)">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label  class="label">Total Experience</label>
                  <input type="text" class="form-control" name="totalexperience{{i}}" [(ngModel)]="obj.totalexperience" #totalexperience="ngModel" fullWidth>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label  class="label">USA Experience</label>
                  <input type="text" class="form-control" name="usaxperience{{i}}" [(ngModel)]="obj.usaxperience" #usaxperience="ngModel" fullWidth>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label  class="label">Marketing Phone Number</label>
                  <input type="text" class="form-control" name="phonenumber{{i}}" [(ngModel)]="obj.phonenumber" #phonenumber="ngModel" fullWidth>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label  class="label">Marketing Email ID</label>
                  <input type="email" class="form-control" name="emailid{{i}}" [(ngModel)]="obj.emailid"  #emailid="ngModel" fullWidth>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label class="label">Looking for Job</label>
                  <input type="text" class="form-control" name="lookingforjob{{i}}" [(ngModel)]="obj.lookingforjob"  #lookingforjob="ngModel" fullWidth>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label class="label">Subject Tag</label>
                  <input type="text" class="form-control" name="subjecttag{{i}}" [(ngModel)]="obj.subjecttag"  #subjecttag="ngModel" fullWidth>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label class="label">Non-Subject Tag</label>
                  <input type="text" class="form-control" name="nonsubtag{{i}}" [(ngModel)]="obj.nonsubtag"  #nonsubtag="ngModel" fullWidth>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Marketing Linkedin Profile</label>
                  <input type="text" class="form-control" name="linkedin{{i}}" [(ngModel)]="obj.linkedin" #linkedin="ngModel" fullWidth>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Tags</label>
                  <ng-select [multiple]="true" [(ngModel)]="selectedCars && obj.tags" name="tags{{i}}" #tags="ngModel">
                    <ng-option *ngFor="let car of cars" [value]="car.id" [disabled]="car.disabled">{{car.name}}</ng-option>
                    <ng-option [value]="'custom'">Custom</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Resume</label>
                  <input type="file" name="resume{{i}}" [(ngModel)]="obj.resume" #resume="ngModel" class="form-control" fullWidth>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label  class="label">Certification</label>
                  <input type="file" name ="certification{{i}}" [(ngModel)]="obj.certification" #certification="ngModel" class="form-control" fullWidth>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <label  class="label">Email Template</label>
                <div class="form-group">
                  <ngx-tiny-mce></ngx-tiny-mce>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <div class="form-group border-bottom border-primary">
                  <label for="" style="font-weight: bold;">Other Info</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group border-bottom border-primary">
                  <label for="" style="font-weight: bold;">Visa Info</label>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label  class="label">Visa Copy</label>
                      <input type="file" (change)="readFile($event)"  class="form-control" fullWidth name="visa_copy" [(ngModel)]="conData.visa_copy" #visa_copy="ngModel">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label  class="label">Visa Status</label>
                      <select  selected="1" fullWidth class="form-control" [disabled]= "visaDisable" name="visa_status" [(ngModel)]="conData.visa_status" #visa_status="ngModel">
                        <option value="1">Select</option>
                        <option value="2">Active</option>
                        <option value="3">Inactive</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label  class="label">Visa Valid From</label>
                      <input type="text" class="form-control" fullWidth [disabled]= "visaDisable" name="valid_from" [(ngModel)]="conData.valid_from" #valid_from="ngModel" bsDatepicker placement="top" [bsValue]="conData.valid_from" [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue'}">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label  class="label">Visa Valid To</label>
                      <input type="text" class="form-control" fullWidth [disabled]= "visaDisable" name="valid_to" [(ngModel)]="conData.valid_to" #valid_to="ngModel" bsDatepicker placement="top" [bsValue]="conData.valid_to" [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue'}">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group border-bottom border-primary">
                  <label for="" style="font-weight: bold;">Driving License Info</label>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label  class="label">Driving License Copy</label>
                      <input type="file"  (change)="drivFile()" class="form-control" fullWidth name="driving_copy" [(ngModel)]="conData.driving_copy" #driving_copy="ngModel">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label  class="label">Driving License Valid From</label>
                      <input type="text" class="form-control"  [disabled]= "drivDisable" fullWidth name="driving_from" [(ngModel)]="conData.driving_from" #driving_from="ngModel" bsDatepicker placement="top" [bsValue]="conData.driving_from" [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue'}">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label  class="label">Driving License Valid To</label>
                      <input type="text" class="form-control" [disabled]= "drivDisable" fullWidth name="driving_to" [(ngModel)]="conData.driving_to" #driving_to="ngModel" bsDatepicker placement="top" [bsValue]="conData.driving_to" [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue'}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-2">
                <div class="form-group">
                  <label  class="label">Comments</label>
                  <textarea rows=4 class="form-control" fullWidth id="inputEmail" placeholder="Enter Comments" name="comments" [(ngModel)]="conData.comments" #comments="ngModel"></textarea>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary" style="margin-right: 5px;">SUBMIT</button>
                <button class="btn btn-danger">CANCEL</button>
              </div>
            </div>
          </form>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

