<h5 style="color:#2e3192;">Email Authorization</h5>
<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-4 mx-auto text-center">
        <a  *ngIf ="!emailAuth" class="btn btn-primary text-white btn-block" style="text-decoration: none;" target="_self" href="https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/gmail.modify&include_granted_scopes=true&state=Smatbot&redirect_uri=https://hireswing.com:3366/mailOauth&response_type=code&client_id=169266660325-40qnhg6ur115aantdkc4jok2424bfq8j.apps.googleusercontent.com&access_type=offline&prompt=consent">Authorize</a>
        <a  *ngIf ="emailAuth" class="btn btn-success text-white btn-block" style="text-decoration: none;" target="_blank" >Authorized</a>
      </div>
    </div>
  </nb-card-body>
</nb-card>
