<div class="container-fluid p-md-5 p-sm-5" style="background-color: #edf1f7;">
  <div class="row">
    <div class="card w-100 mt-sm-3">
      <div class="card-header" style="background-color: white;">
        <i class="fa fa-arrow-left text-primary" routerLink="/login"></i>
      </div>
      <div class="card-body">
        <div style="padding: 20px;">
          <form #f="ngForm">
            <div class="row">
              <div class="col-md-6 mx-auto text-center">
                <h1 class="title">Forgot Password</h1>
                <span>Enter your email address and we’ll send a link to reset your password</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mx-auto mt-4">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label-title">Enter your email address:</label>
                  <input type="email" class="form-control" fullWidth placeholder="Email address" name="email_id" [(ngModel)]="forgotpwd.email_id" #email_id="ngModel" required>
                  <ng-container *ngIf="email_id.invalid && email_id.touched">
                    <p class="error-message text-danger" *ngIf="email_id.errors?.required">
                      Email is required!
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 mx-auto mt-3">
                <div class="form-group">
                  <button class="btn btn-primary btn-block" style="color:white;" type="submit" [disabled]="!f.valid || f.invalid" (click)="resetPwd()">Request Password</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
