<div class="row">
  <h5 style="color:#2e3192;">QUICK SUMMARY</h5>
</div>
<div class="row">
  <div class="col-10 mx-auto">
    <div class="row mt-5">
      <div class="col-md-6 mb-2">
        <div class="card">
          <div style="padding: 30px;">
            <h6>Number of companies</h6>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <div class="card">
          <div class="crad-body">
            <div style="padding: 30px;">
              <h6>Number of users</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10 mx-auto">
    <div class="row mt-5 sm-mt-2">
      <div class="col-md-6 mb-2">
        <div class="card">
          <div style="padding: 30px;">
            <h6>Number of tags</h6>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <div class="card">
          <div class="crad-body">
            <div style="padding: 30px;">
              <h6>Reports</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
