<div class="row">

  <div class="card w-100 h-100">
    <div class="card-body">
      <div class="col-md-12">
        <!-- <h5 style="color:#2e3192;">PROFILE</h5> -->
        <!---Profile of Super Admin-->
        <!-- <nb-card>
           <nb-card-body> -->
              <div class="col-md-12" style="margin-top: 10px;margin-bottom: 30px;">
                <h5 class="text-center">Privacy Policy</h5>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6 class="text-left">SECTION 1 – WHAT DO WE DO WITH YOUR INFORMATION?</h6>
                  <div class="col-md-12">
                    <p>When you sign up with us or subscribe to any of the paid plans, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address. We also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.</p>
                    <p>All the data collected from your (email) Recruitment Bot is owned by you and we have no ownership on it.</p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6 class="text-left">SECTION 2 – CONSENT</h6>
                  <div class="col-md-12">
                    <p>
                      <li style="font-weight: bold;">How do you get my consent?</li>
                      <li>When you provide us with personal information to sign up, complete a transaction, verify your credit card, we imply that you consent to our collecting it and using it for that specific reason only.</li>
                      <li style="font-weight: bold;">How do I withdraw my consent?</li>
                      <li>If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at info@bluespacetech.com   or at : 1001 S Dairy Ashford rd,  ste 120, Houston TX 77077. </li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6 class="text-left">SECTION 3 – CLIENT AND RECRUITMENT BOT USER DATA</h6>
                  </div>
                  <div class="col-md-12">
                    <li>The information we receive from Clients and our email users and how we handle it differs, as set out below.</li><br>

                  </div>
                  <!-- <div class="col-md-12">
                    <span style="font-size:16px;font-weight: 600;">3.1 – Recruitment Bot Client
                    </span>
                    <p>
                      <li>A. Information we collect directly from the client.
                        <div class="col-md-12">
                          <p>
                            <li>As a Recruitment Bot Client, we collect information relating to you and your use of our Services from a variety of sources including Registration information, Email Data, Plan & Billing Info.</li>
                            <li>We may also collect your personal information or data if you submit it to us through other means for a different context. For example, if you provide us with a testimonial.</li>
                          </p>
                        </div>
                      </li>
                    </p>
                    <p>
                      <li>B. Information we collect about the client indirectly or passively when interacting with us.
                        <div class="col-md-12">
                          <p>
                            <li>We may also collect your usage, device, application and referral data including but not limited to email data, IP address, browser type, geographic location, referred source etc.,</li>
                            <li>We may also collect client personal information or data from third parties if the client permits those third parties to share such information with us.</li>
                            <li>Recruitment Bot also uses third-party tracking services that employ cookies and collect aggregated and anonymized data about visitors to our websites. This data might include usage and user statistics but not limited to them.</li>
                            <li></li>
                          </p>
                        </div>
                      </li>
                    </p>
                  </div> -->
                  <div class="col-md-12">
                    <p style="font-size:16px;font-weight: 600;">3.1 – Recruitment Bot Client
                    </p>
                    <p>
                      <li><span style="font-weight: bold;">A. Information we collect directly from the client.</span>
                        <div class="col-md-12">
                          <p>
                            <li>As a Recruitment Bot Client, we collect information relating to you and your use of our Services from a variety of sources including Registration information, Email Data, Plan & Billing Info.</li>
                            <li>We may also collect your personal information or data if you submit it to us through other means for a different context. For example, if you provide us with a testimonial.</li>
                          </p>
                        </div>
                      </li>
                    </p>
                    <p>
                      <li><span style="font-weight: bold;">B. Information we collect about the client indirectly or passively when interacting with us.</span>
                        <div class="col-md-12">
                          <p>
                            <li>We may also collect your usage, device, application and referral data including but not limited to email data, IP address, browser type, geographic location, referred source etc.,</li>
                            <li>We may also collect client personal information or data from third parties if the client permits those third parties to share such information with us.</li>
                            <li>Recruitment Bot also uses third-party tracking services that employ cookies and collect aggregated and anonymized data about visitors to our websites. This data might include usage and user statistics but not limited to them.</li>
                          </p>
                        </div>
                      </li>
                    </p>
                  </div>
                  <div class="col-md-12">
                    <p style="font-size:16px;font-weight: 600;">3.2 – Recruitment Bot's email Users
                    </p>
                    <p>
                      <li>As a email user, when you respond to emails hosted by Recruitment Bot, on behalf of our clients and upon their instructions, We collect information relating to you and your use of our services from a variety of sources:</li>
                      <li><span style="font-weight: bold;">A. Information we collect directly from the email user:</span>
                        <div class="col-md-12">
                          <p>
                            <li>We collect and store the email’s responses from the email user. Since the Recruitment Bot client is usually the same person that invited the email user to use the email, that Recruitment Bot client is responsible for the data and manages it.</li>
                            <li>Note: Recruitment Bot is not responsible for any content of that email and any questions must be directed to the Recruitment Bot client.</li>
                          </p>
                        </div>
                      </li>
                    </p>
                    <p>
                      <li><span style="font-weight: bold;">B. Information we collect about the email user from other sources</span>
                        <div class="col-md-12">
                          <p>
                            <li>We may also collect your usage, device, application and referral data including but not limited to email data, IP address, browser type, geographic location, referred source etc.,</li>
                            <li>Recruitment Bot also uses third-party tracking services that employ cookies and collect aggregated and anonym zed data about visitors to our websites. This data might include usage and user statistics but not limited to them.</li>
                            <li>We also collect Email address & Mobile Numbers of the email users if the client adds an email/mobile question to their emails. The email user may choose to not give their email/mobile when having a conversation with the emails that are made by clients via Recruitment Bot.</li>
                          </p>
                        </div>
                      </li>
                    </p>
                  </div>
                  <div class="col-md-12">
                    <p style="font-size:16px;font-weight: 600;">3.3 – Data Retention
                    </p>
                    <p>
                      <li>We have your data backed up for seven days. Any requests to get your data back in case of bot deletion can only be processed within next 7 days with extra charges with 99% chance. No requests will be allowed past the 7 day period as all the data will permanently be deleted from all our data centres.</li>
                    </p>
                  </div>
                <!-- </div> -->
                <div class="col-md-12">
                  <h6 class="text-left">SECTION 4 – PURPOSES OF THE USE AND SHARING OF CLIENT AND CHATBOT USER INFORMATION/DATA</h6>
                  <div class="col-md-12">
                    <p>
                      <li>We use the information we collect from you to perform the services requested in connection with the “Recruitment Bot Account” selected for the purposes described in the Terms of Use.</li>
                      <li>We also use your information and data to review, investigate and analyze for Monitoring, Maintaining & Improving our services and features.</li>
                      <li>Internally we may also perform statistical and other analysis on information we collect to analyze and measure user behavior and trends, to understand how people use our services, and to monitor, troubleshoot, and improve our services, including to help us evaluate or devise new features.</li>
                      <li>We may use your information for internal purposes designed to keep our services secure and operational, such as testing purposes, troubleshooting, to prevent abusive activity (i.e. fraud, spam, phishing activities), and for service improvement, research, and development purposes.</li>
                      <li>Likewise, we collect your data to answer your questions and provide you with Recruitment Bot tips and news regarding emails by any means, including email and similar means of electronic communication. To customize such information and commercial communications as much as possible, Recruitment Bot may use statistical techniques that allow the creation of user-profiles and data segmentation.</li>
                      <li>If you do not wish to receive such information and commercial communications, regardless of the form of communication used, please inform us to exercise your rights. Your agreement to receive information can be revoked at any time, but such revocation shall not be retroactively applied.</li>
                      <li>We do not sell your email data to third parties without your permission. We share your information with our service providers who help us to provide our services to you, in which case those third parties are required to comply with our privacy policy and any other adequate technical and organizational measures. We contractually bind these service providers to keep your information confidential and to use it only for the purpose of providing our services and pursuant to the applicable privacy legislation. Your agreement to the terms of this Privacy Policy followed by your submission of information in connection with the Service represents your agreement to this practice. If you do not want your information transferred to or processed, you should not use the Service.</li>
                      <li>Your data is not disclosed to any third party except
                           <div class="col-md-12">
                              <span>
                                1. for providing the services you requested and for which Recruitment Bot collaborates with third parties,
                              </span><br>
                              <span>2.	when we have your permission,</span><br>
                              <span>3.	when it is required by a competent authority in the exercise of its duties (for example in order to investigate, prevent, or take action regarding illegal activities), or</span><br>
                              <span>4.	as otherwise required by law.</span>
                           </div>
                      </li>
                      <li>We do not use your email data other than as described in this Privacy Policy and the Terms of Use.</li>
                      <li>Our servers, where we store your data, are located in US.</li>
                      <li>If the ownership of all or substantially all of our business changes, or we undertake a corporate reorganization (including a merger or consolidation), or any other action or transfer between Recruitment Bot entities, you expressly consent to Recruitment Bot transferring your information to the new owner or successor entity so that we can continue providing our services. If required, Recruitment Bot will notify the applicable data protection agency in each jurisdiction of such a transfer in accordance with the notification procedures under applicable data protection laws.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6 class="text-left">SECTION 5 – PAYMENT</h6>
                  <div class="col-md-12">
                    <p>
                      <li>We do not store your card data on our servers. The data is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS) when processing payment. Your purchase transaction data is only used as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is not saved.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6 class="text-left">SECTION 6 – THIRD-PARTY SERVICES</h6>
                  <div class="col-md-12">
                    <p>
                      <li>In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.</li>
                      <li>However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.</li>
                      <li>For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.</li>
                      <li>In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.</li>
                      <li>Once you leave our website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6 class="text-left">SECTION 7 – SECURITY</h6>
                  <div class="col-md-12">
                    <p>
                      <li>To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6 class="text-left">SECTION 8 – COOKIES</h6>
                  <div class="col-md-12">
                    <p>
                      <li>If you would prefer not to accept cookies or otherwise wish to disable our use of tracking technologies, most browsers and mobile devices allow you to change your settings so as to notify you when you receive cookies or other tracking technologies are being used, and to choose whether or not to accept/allow it. Most browsers also allow you to disable or delete existing cookies or to automatically reject future cookies. Disabling cookies may limit your ability to use the Services.</li>
                      <li>Certain tracking technologies we use are related to advertising networks, and through those technologies we may share certain information such as IP addresses. No personally identifiable information is shared with these advertising networks, but please note that the information we share with those advertising networks might be combined with other information about you that those networks may have collected from other sources.</li>
                      <li>You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, Recruitment Bot, or any other Recruitment Bot service.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6 class="text-left">SECTION 9 – AGE OF CONSENT</h6>
                  <div class="col-md-12">
                    <p>
                      <li>By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6 class="text-left">SECTION 10 – CHANGES TO THIS PRIVACY POLICY</h6>
                  <div class="col-md-12">
                    <p>
                      <li>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6 class="text-left">Software</h6>
                  <div class="col-md-12">
                    <p>
                      <li>Any software available for download via the Site is the copyrighted work of Recruitment Bot and/or its licensors. Use of such software is governed by the terms of the end user license agreement that accompanies or is included with the software. Downloading, installing, and/or using any such software indicates your acceptance of the terms of the end user license agreement.</li>
                      <li>If our company is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.</li>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <h6 class="text-left">QUESTIONS AND CONTACT INFORMATION</h6>
                  <div class="col-md-12">
                    <p>
                      <li>If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact our Privacy Compliance Officer at info@bluespacetech.com </li>
                    </p>
                  </div>
                </div>
              </div>
           <!-- </nb-card-body>
        </nb-card> -->
      </div>
    </div>
  </div>
</div>
