<h5 style="color:#2e3192;">VIEW USER</h5>
<nb-card>
  <nb-card-body>
    <div *ngIf="dataType == 'Super Admin'" class="" style=" background-color: white; border: 1px white;">
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group border-bottom border-primary">
              <label for="" style="font-weight: bold;">General Info</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">First name</label>
              <input type="text" class="form-control" fullWidth id="first-name" placeholder="" name="first_name" disabled [(ngModel)]="formData.first_name" #first_name="ngModel">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Last name</label>
              <input type="text" class="form-control" fullWidth id="last-name" placeholder=""  name="last_name" disabled [(ngModel)]="formData.last_name" #last_name="ngModel">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Email</label>
              <input type="email" class="form-control" fullWidth id="email" placeholder="" name="email_id" disabled [(ngModel)]="formData.email_id" #email_id="ngModel">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Phone Number</label>
              <input type="text" class="form-control" fullWidth id="phone" placeholder="" name="phone"  disabled [(ngModel)]="formData.phone" #phone="ngModel">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Comments</label>
              <textarea name="" id="" class="form-control" placeholder="" name="comments" disabled [(ngModel)]="formData.comments" #comments="ngModel"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="dataType == 'Admin'" class="" style=" background-color: white; border: 1px white;">
      <form #form="ngForm">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group border-bottom border-primary">
              <label for="" style="font-weight: bold;">General Info</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">First name</label>
              <input type="text" class="form-control" fullWidth id="first-name" placeholder="" name="first_name" disabled [(ngModel)]="formData.first_name" #first_name="ngModel">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Last name</label>
              <input type="text" class="form-control" fullWidth id="last-name" placeholder="" name="last_name"disabled [(ngModel)]="formData.last_name" #last_name="ngModel">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Company name</label>
              <input type="text" class="form-control" fullWidth id="company" placeholder="" name="company_name" disabled [(ngModel)]="formData.company_name" #company_name="ngModel">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Expiry Date</label>
              <input type="text" class="form-control" fullWidth id="expiry-date-1" placeholder="" name="expiry_date" disabled [(ngModel)]="formData.expiry_date" #expiry_date="ngModel" bsDatepicker placement="bottom-left" [bsValue]="formData.expiry_date" [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue'}">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Email</label>
              <input type="email" class="form-control" fullWidth id="email" placeholder="" name="email_id" disabled [(ngModel)]="formData.email_id" #email_id="ngModel">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Phone Number</label>
              <input type="text" class="form-control" fullWidth id="phone" placeholder="" name="phone" disabled [(ngModel)]="formData.phone" #phone="ngModel">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Comments</label>
              <textarea name="" id="" class="form-control" placeholder="" name="comments" disabled [(ngModel)]="formData.comments" #comments="ngModel"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="dataType == 'Recruiter'" class="" style=" background-color: white; border: 1px white;">
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group border-bottom border-primary">
              <label for="" style="font-weight: bold;">General Info</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">First name</label>
              <input type="text" class="form-control" fullWidth id="first-name-3" placeholder="" name="first_name" disabled [(ngModel)]="formData.first_name" #first_name="ngModel">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Last name</label>
              <input type="text" class="form-control" fullWidth id="last-name-3" placeholder="" name="last_name"disabled [(ngModel)]="formData.last_name" #last_name="ngModel">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group border-bottom border-primary">
              <label for="" style="font-weight: bold;">Contact Info</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Email</label>
              <input type="email" class="form-control" fullWidth id="email" placeholder="" name="email_id" disabled [(ngModel)]="formData.email_id" #email_id="ngModel">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Phone Number</label>
              <input type="text" class="form-control" fullWidth id="phone" placeholder="" name="phone" disabled [(ngModel)]="formData.phone" #phone="ngModel">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Primary Email Address</label>
              <input type="email" class="form-control" fullWidth id="pemail" name="primary_email_id" disabled [(ngModel)]="formData.primary_email_id" #primary_email_id="ngModel">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Generic Email Address</label>
              <input type="email" class="form-control" fullWidth id="gmail" name="generic_email_id" disabled [(ngModel)]="formData.generic_email_id" #generic_email_id="ngModel">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Personal Email Address</label>
              <input type="email" class="form-control" fullWidth id="personal-email" name="personal_email_id"disabled [(ngModel)]="formData.personal_email_id" #personal_email_id="ngModel">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">CC Email Address</label>
              <input type="email" class="form-control" fullWidth id="cc-email" name="cc_email_id" disabled [(ngModel)]="formData.cc_email_id" #cc_email_id="ngModel">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">BCC Email Address</label>
              <input type="email" class="form-control" fullWidth id="bcc-email" name="bcc_email_id" disabled [(ngModel)]="formData.bcc_email_id" #bcc_email_id="ngModel">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group border-bottom border-primary">
              <label for="" style="font-weight: bold;">Other Information</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Expiry Date</label>
              <input type="date" class="form-control" fullWidth id="expiry-date" name="expiry_date" disabled [(ngModel)]="formData.expiry_date" #expiry_date="ngModel" bsDatepicker placement="bottom-left" [bsValue]="formData.expiry_date" [bsConfig]="{showWeekNumbers:false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue'}">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Comments</label>
              <textarea name="" id="" class="form-control" placeholder="" name="comments" disabled [(ngModel)]="formData.comments" #comments="ngModel"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="dataType == 'Consultant'" class="" style=" background-color: white; border: 1px white;">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group border-bottom border-primary">
            <label for="" style="font-weight: bold;">General Info</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label  class="label">First name <span style="color: red;">*</span></label>
            <input type="text"  class="form-control" fullWidth name="first_name" [(ngModel)]="formData.first_name" placeholder="" disabled>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label  class="label">Last name</label>
            <input type="text" class="form-control" fullWidth name="last_name" [(ngModel)]="formData.last_name" placeholder="" disabled>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label  class="label">Date of Birth</label>
            <input type="text" class="form-control" name="dob" [(ngModel)]="formData.dob" fullWidth disabled>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label  class="label">Education</label>
            <input type="text" class="form-control" fullWidth name="education" [(ngModel)]="formData.education" disabled>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label  class="label">Rate <span style="color: darkgreen;">$/hour</span></label>
            <input type="text" class="form-control" fullWidth name="rate" [(ngModel)]="formData.rate" disabled>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label  class="label">Expiry Date</label>
            <input type="text" class="form-control" fullWidth name="expiry_date" [(ngModel)]="formData.expiry_date" disabled>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group border-bottom border-primary">
            <label for="" style="font-weight: bold;">Contact Info</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label  class="label">Email</label>
            <input type="email" class="form-control" fullWidth name="email_id" [(ngModel)]="formData.email_id" disabled>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label  class="label">Phone Number</label>
            <input type="text" class="form-control" fullWidth name="phone" [(ngModel)]="formData.phone" disabled>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label  class="label">Relocation</label>
            <select fullWidth class="form-control" name="relocation" [(ngModel)]="formData.relocation" disabled>
              <option value="">Select</option>
              <option *ngFor="let item of recLoc" value="{{item.value}}">{{item.title}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label  class="label">Address Line 1</label>
            <input type="text" class="form-control" fullWidth name="address_line_1" [(ngModel)]="addressInfo.address_line_1" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label  class="label">Address Line 2</label>
            <input type="text" class="form-control" fullWidth name="address_line_2" [(ngModel)]="addressInfo.address_line_2" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label  class="label">Zip Code</label>
            <input type="text" class="form-control" fullWidth name="zipcode" [(ngModel)]="addressInfo.zipcode" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label  class="label">City</label>
            <input type="text" class="form-control" fullWidth name="city" [(ngModel)]="addressInfo.city" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label  class="label">State</label>
            <input type="text" class="form-control" fullWidth name="state" [(ngModel)]="addressInfo.state" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label  class="label">Country</label>
            <input type="text" class="form-control" fullWidth name="country" [(ngModel)]="addressInfo.country" disabled>
          </div>
        </div>
      </div>
      <div class="row" *ngFor="let obj of techInfo; let i=index ">
        <div class="col-md-12">
          <div class="form-group border-bottom border-primary">
            <label for="" style="font-weight: bold;">Technology</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label  class="label">Total Experience</label>
            <input type="text" class="form-control" fullWidth name="total_experience" [(ngModel)]="obj.total_experience" disabled>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label  class="label">USA Experience</label>
            <input type="text" class="form-control" fullWidth name="usa_experience" [(ngModel)]="obj.usa_experience" disabled>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label  class="label">Marketing Phone Number</label>
            <input type="text" class="form-control" fullWidth name="marketing_phone" [(ngModel)]="obj.marketing_phone" disabled>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label  class="label">Marketing Email ID</label>
            <input type="email" class="form-control" fullWidth name="marketing_email_id" [(ngModel)]="obj.marketing_email_id" disabled>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label class="label">Looking for Job</label>
            <input type="text" class="form-control" fullWidth name="looking_for_job" [(ngModel)]="obj.looking_for_job" disabled>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label class="label">Subject Tags</label>
            <input type="text" class="form-control" fullWidth name="subject_tag" [(ngModel)]="obj.subject_tag" disabled>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label class="label">Non-Subject Tags</label>
            <input type="text" class="form-control" fullWidth name="non_sub_tag" [(ngModel)]="obj.non_subject_tag" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label  class="label">Marketing Linkedin Profile</label>
            <input type="url" class="form-control" fullWidth name="linkedIn_url" [(ngModel)]="obj.linkedIn_url" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label  class="label">Technology Tags</label>
            <ng-select [multiple]="true" name="tags" [(ngModel)]="obj.tags" [disabled]="true">
              <ng-option *ngFor="let tag of data" [value]="tag.tag_name">{{tag.tag_name}}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label  class="label">Resume</label>
            <input type="file"  class="form-control" fullWidth disabled>
          </div>
          <a target="_blank" href="https://hireswing.com/api/files/{{obj.resume_loc}}">View previous upload</a>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label  class="label">Certification</label>
            <input type="file"  class="form-control" fullWidth disabled>
          </div>
          <a target="_blank" href="https://hireswing.com/api/files/{{obj.certificate_loc}}">View previous upload</a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="form-group border-bottom border-primary">
            <label for="" style="font-weight: bold;">Other Info</label>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12">
          <label style="font-weight: bold;">Email Template</label>
          <div class="form-group">
            <ngx-tiny-mce [innerHtml]="formData.email_template"></ngx-tiny-mce>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group border-bottom border-primary">
            <label for="" style="font-weight: bold;">Visa Info</label>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label  class="label">Visa Copy</label>
                <input type="file" class="form-control" fullWidth disabled>
              </div>
              <a target="_blank" href="https://hireswing.com/api/files/{{formData.visa_copy_loc}}">View previous upload</a>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label  class="label">Visa Status</label>
                <select fullWidth class="form-control" name="visa_status" [(ngModel)]="formData.visa_status" disabled>
                  <option value="">Select</option>
                  <option *ngFor="let item of visa" value="{{item.value}}">{{item.title}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label  class="label">Visa Valid From</label>
                <input type="text" class="form-control" fullWidth name="visa_valid_from" [(ngModel)]="formData.visa_valid_from" disabled>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label  class="label">Visa Valid To</label>
                <input type="text" class="form-control" fullWidth name="visa_valid_to" [(ngModel)]="formData.visa_valid_to" disabled>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group border-bottom border-primary">
            <label for="" style="font-weight: bold;">Driving License Info</label>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label  class="label">Driving License Copy</label>
                <input type="file" class="form-control" fullWidth disabled>
              </div>
              <a target="_blank" href="https://hireswing.com/api/files/{{formData.DL_copy}}">View previous upload</a>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label  class="label">Driving License Valid From</label>
                <input type="text" class="form-control" fullWidth name="DL_valid_from" [(ngModel)]="formData.DL_valid_from" disabled>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label  class="label">Driving License Valid To</label>
                <input type="text" class="form-control" fullWidth name="DL_valid_to" [(ngModel)]="formData.DL_valid_to" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-2">
          <div class="form-group">
            <label  class="label">Comments</label>
            <textarea rows=4 class="form-control" fullWidth id="inputEmail" placeholder="Enter Comments" name="comments" [(ngModel)]="formData.comments" disabled></textarea>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
